@{
    ViewData["Title"] = "Cửa hàng bị khóa";
}

<h1>Cửa hàng của bạn đã bị khóa</h1>
<p>Rất tiếc, cửa hàng của bạn hiện đang bị khóa và bạn không thể truy cập vào trang này.</p>
<a href="/">Quay lại trang chủ</a>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
}
