@page
@model Bai1.Areas.Identity.Pages.Account.AccountLockedModel
@{
    ViewData["Title"] = "Tài khoản bị khóa";
}

<h1>Tài khoản của bạn đã bị khóa</h1>
<p>Bạn không thể đăng nhập vào hệ thống vào lúc này.</p>
<p>Nếu bạn có thắc mắc, vui lòng liên hệ với quản trị viên qua email: <strong>admin@gmail.com</strong>.</p>
